<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
</head>
<style>
    .centr {
    display: flex;
    justify-content: center;
    align-items: center;
    }
</style>
<body>
<div class="centr">
    <form method="POST">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Логин">
        <input type="password" name="password" placeholder="Пароль">
        <button type="submit">Зарегистрироваться</button>
    </form>
</div>

</body>
</html>